{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MHWR</title>
  <link rel="stylesheet" media="screen" href="{% static 'style/style1.css' %}">
</head>

<body>
  <h1>Select Image to Upload</h1>
  <div id="container">

    <form action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Upload</button>
    </form>

    <!-- {% if obj %}
    <h3>Succesfully Uploaded : </h3>
    <img src="{{obj.image.url}}" alt="image">
    {% endif %} -->

    <hr>

    {% for x in img %}
    {% if forloop.first %}
    <div class="row ">
      {% endif %}
      <div class="col-lg-4 col-md-4 col-12">
        <div class="text-center mt-2">
          <h1>Uploaded Image is: </h1>
          <img src="{{x.image.url}}" height="70%" width="70%" class="img-thumbnail" alt="...">
          <div>
            <a href="{% url 'clear' x.id %}">Clear All</a>
            <a class="btn btn-danger" href="{% url 'out' %}">Convert</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class=row>
      {% endif %}

      {% if forloop.last %}</div>{% endif %}
    {% endfor %}

  </div>

</body>

</html>